
/* Reset css start */
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li{
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2{
    font-family: 'Abril Fatface', serif;
}
h3,h4,h5,h6,p,a,button{
    font-family: 'Ubuntu', sans-serif;
}
/* Reset css End */

/* topbar section css start */

    #top_bar{
        background-color: #0f2f44;
    }
    #top_bar .container p{
       font-size: 16px;
       line-height: 24px;
       font-weight: 400;
       color: #fefefe;
       padding: 19px 0;
    }
/* topbar section css End */
/* navbar css start */

#primary_nav ul li a {
    display: inline-block;
    font-weight: 500;
    color: #0f2f44;
    text-transform: capitalize;
    line-height: 24px;
    font-size: 16px;
    padding: 40px 19px;
    transition: 0.6s;
}
#primary_nav ul li a:hover {
    background-color: #fff9e6;
    color: #ffc712;
}
#primary_nav ul li button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #dedede;
    background: none;
    margin-left: 20px;
}
#primary_nav ul li button:hover {
    background-color: #fff9e6;
    color: #ffc712;
    cursor: pointer;
}
/* navbar css End */



